/* Navigation Bar Work */

.topMenu {
	width: 95%;
	min-width: 1000px;
	margin: 0;
}

header {
	position: relative;
	background-color: #000000;
	width: 100%;
	min-width: 1000px;
	margin: 0;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.menuItems {
	float: right;
}

.menuItems ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuItems li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 8%;
	padding-bottom: 8%;
	position: relative;
}

.menuItems ul li a {
	color: #FFD700;
	font-family: "Times New Roman";
	font-size: 130%;
	text-decoration: none;
	text-transform: uppercase;
}

.menuItems ul li a:hover {
	color: #ffffff;
}

.menuItems ul li a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #FFD700;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

.menuItems ul li a:hover::before {
	width: 100%;
}


/* Main body for each web page. */

body {
	margin: auto;
}


/* CompanyFinancialStatements Work */
h1 {
	text-align: center;
	margin-top: 45px;
	font-family: "Times New Roman", Times, serif;
}


h2 {
	text-align: center;
	text-decoration: underline;
}

h3 {
	display: block;
	margin-right: 270px;
	margin-left: 270px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 6px 7px;
	font-family: "Times New Roman", Times, serif;
    line-height: normal;
    font-weight: normal;
    color: #fff;
    background-color: #333333;
}

.overviewBody {
	margin-left: 270px;
	margin-right: 270px;
	font-family: "Times New Roman", Times, serif;
	line-height: 20px;
}

.overviewTable {
	border-collapse: collapse;
	width: 25%;
	margin-top: 50px;
	margin-bottom: 70px;
	margin-right: auto;
	margin-left: auto;
}

th, td {
	padding: 8px;
  }

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.incomeStatementsTable {
	border-collapse: collapse;
	width: 66.3%;
	margin-left: 270px;
	margin-right: 270px;
	margin-bottom: 100px;
}

.balanceSheetsTable {
	border-collapse: collapse;
	width: 66.3%;
	margin-left: 270px;
	margin-right: 270px;
	margin-bottom: 100px;

}

.cashFlowStatementsTable {
	border-collapse: collapse;
	width: 66.3%;
	margin-left: 270px;
	margin-right: 270px;
	margin-bottom: 100px;

}


/* Home Page Work */

.homeBody {
	margin-left: 270px;
	margin-right: 270px;
	font-size: 20px;
}

.homeBody {
	width: 65%;
	min-width: 1000px;
	margin: auto;
	margin-top: 50px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid grey;
}

.homeBody li {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 6px 7px;
	font-family: "Times New Roman", Times, serif;
    line-height: normal;
    font-weight: normal;
    color: #fff;
    background-color: #333333;
}


/* About Me Work */

.aboutBody {
	width: 70%;
	min-width: 1000px;
	height: 2000px;
	margin: auto;
	margin-top: 50px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid grey;
}

h5 {
	font-size: 20px;
}

.resume {
	margin-left: 5%;
	margin-right: 5%;
}

.resume hr {
	width: 100%;
}

.downloadResume {
	height: 40px;
	width: 200px;

}

.education {
	margin-left: 10%;
	margin-top: 5%;
}

.hobbies {
	margin-top: 5%;
}

.hobbyChess {
	display: inline-block;
	border: 1px solid black;  
	width: 30%;
	height: 350px;
	margin-right: 25px;
	border-radius: 5px;
}

.hobbyChessImage {
	width: 250px;
	height: 250px;
}

.hobbySoccer {
	display: inline-block;
	border: 1px solid black;  
	width: 30%;
	height: 350px;
	margin-right: 25px;
	border-radius: 5px;
}

.hobbySoccerImage {
	width: 250px;
	height: 250px;
}

.hobbyPhilosophy {
	display: inline-block;
	border: 1px solid black;  
	width: 30%;
	height: 350px;
	border-radius: 5px;
}

.hobbyPhilosophyImage {
	width: 250px;
	height: 250px;
}

.hobbyMusic {
	display: inline-block;
	border: 1px solid black;  
	width: 30%;
	height: 350px;
	margin-right: 25px;
	margin-top: 25px;
	border-radius: 5px;
}

.hobbyMusicImage {
	width: 250px;
	height: 250px;
}

.hobbyProgramming {
	display: inline-block;
	border: 1px solid black;  
	width: 30%;
	height: 350px;
	margin-top: 25px;
	border-radius: 5px;
}

.hobbyProgrammingImage {
	width: 250px;
	height: 250px;
}

.volunteerWork {
	margin-left: 5%;
	margin-top: 2%;
}